.entry-content .sermonz {
    margin-top: 0px;
}
.entry-content .sermonz a {
    text-decoration: none;
}
.entry-content .sermonz a, .entry-content .sermonz a:hover {
     -webkit-box-shadow: none;
    box-shadow: none;
}
.sermonz_search_field_wrap {
    display: none;
    -webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
}
.sermonz_search_filters_wrap {
    width: 100%;

}
.sermonz_search_filters_wrap label {
    float:left; 
    margin-right: 20px;
    line-height: 2em;
} 
.sermonz_search_filters_wrap .sermon_search_filters_wrap_a {
    width: 96%;
}
.sermonz_search_filters_wrap .sermon_search_filters_wrap_a a {
}
.sermonz_search_filters_wrap .sermonz_show_search {
    width: 4%;
    float:right;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 4px;
    cursor: pointer;
}

.sermonz_filter_inner_head_wrap {
    width: 100%;
    height: 1.5em;
}
.sermonz_filter_inner_head h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.sermonz_filter_inner_head {
    width: 50%;
    float:left;
}
.sermonz_filter_inner_head.right {
    width: 50%;
    text-align:right;
}

.error {
    color: red;
} 
.entry-content .sermons_series_pages,
.entry-content .sermonz_sermons_list {
    clear:left;
    margin-top: 0.5em;
}
.entry-content .sermonz_series_row,
.entry-content .sermonz_sermon_row {
    width: 48%;
    float: left;
}
.entry-content .sermonz_series_row:nth-child(odd),
.entry-content .sermonz_sermon_row:nth-child(odd) {
    margin-right: 4%;
}
.entry-content .sermonz_series_row a,
.entry-content .sermonz_series_row a:hover,
.entry-content .sermonz_sermon_row a,
.entry-content .sermonz_sermon_row a:hover {
    text-decoration: none;    
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
}
.entry-content .sermonz_series_row:hover,
.entry-content .sermonz_sermon_row:hover {
    opacity: 0.8;
}
.entry-content .sermonz_series_row img ,
.entry-content .sermonz_sermon_row img {
    width: 100%;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #999;
}
.entry-content .sermonz_series_row.active img ,
.entry-content .sermonz_sermon_row.active img {
    border: 4px solid red;
}
.entry-content .sermonz_series_row,
.entry-content .sermonz_sermon_row {
    margin: 1em 0 1em;
}
.entry-content .sermonz_series_row p,
.entry-content .sermonz_sermon_row p {
    margin-bottom: 0;
}
.entry-content .sermonz_series_row p.sermonz_series_name,
.entry-content .sermonz_sermon_row p.sermonz_metadata {
    font-size: 0.8em;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.entry-content .sermonz_series_row p.sermonz_date_range ,
.entry-content .sermonz_sermon_row p.sermonz_metadata.secondary {
    font-size: 0.7em;
}


.entry-content .sermonz_filter_list{
    clear:left; 
    margin: 1.5em 0 1em 0;
}
.sermonz_filter_name.disabled 
{
    opacity: 0.5;
}

.sermonz_filter_row
{
    float:left; 
    margin-right: 15px;
}

.sermonz_search_filters_wrap .sermonz_filter {
    float:left; 
    margin-right: 10px;
    margin-bottom: 1em;
    border: 1px solid darkgray;
    color: darkgray;
    padding: 4px;
}
.sermonz_search_filters_wrap .sermonz_filter a {
    color: darkgray;
}
.sermonz_search_filters_wrap .sermonz_filter:hover, 
.sermonz_search_filters_wrap .sermonz_filter.active {
    border: 1px solid black;
    color: black;
    padding: 4px;
}
.sermonz_search_filters_wrap .sermonz_filter.active {
    padding-right: 8px;
}
.sermonz_search_filters_wrap .sermonz_filter:hover a, 
.sermonz_search_filters_wrap .sermonz_filter.active a {
    color: black;
}

.sermonz_filter_href.active {
    color: red;
    opacity: 1;
}

.sermonz_clear_filter .dashicons {
    line-height: 1.2em;
}


.sermonz_more_wrap {
    clear: left;
    text-align: center;
    margin: 40px auto;
    padding-top: 20px;
    width: 100%;
}
.sermonz_more, 
.sermonz_previous {
    border: 1px solid darkgray;
    color: darkgray;
    font-weight: 400;
    padding: 8px;
    display: block;
    width: 200px;
    margin: 0 auto;
}
.sermonz_previous {
    margin-bottom: 20px;
}

.sermonz_row_count {
    font-size: 0.7em;    
    color: darkgray;
    padding-top: 12px;
    clear: left;
}