.sermonz {
    margin-top: 0px;
}

.entry-content .sermonz a, 
.entry-content .sermonz a:hover {
    text-decoration: none;
    -webkit-box-shadow:  none;
    box-shadow: none;
    -webkit-transition:  none;
}

.sermonz_search_field_wrap {
    display: none;
    -webkit-transition: color 120ms ease-in, -webkit-box-shadow 130ms ease-in-out;
    transition: color 120ms ease-in, -webkit-box-shadow 130ms ease-in-out;
    margin-bottom: 20px;
}

.sermonz_search_field_wrap.active {
    display: block;
}

.sermonz_search_filters_wrap {
    width: 100%;
}

.sermonz_search_field_wrap input[type="search"] {
    padding: 4px;
    border-radius: 0;
    font-size: 1.5em;
    width: 100%;
    font-weight: 300;
}

.sermonz_search_field_wrap.active input[type="search"] {
    color: black;
    border: 1px solid black;
}

.sermonz_search_field_wrap .sermonz_clear_search {
    position: absolute;
    right: 10px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 3px;
    z-index: 999;
}
.sermonz_clear_search .dashicons {
    font-size: 30px;
}

/* clears the 'X' from Internet Explorer */
.sermonz_search_field_wrap input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
.sermonz_search_field_wrap input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
.sermonz_search_field_wrap input[type="search"]::-webkit-search-decoration,
.sermonz_search_field_wrap input[type="search"]::-webkit-search-cancel-button,
.sermonz_search_field_wrap input[type="search"]::-webkit-search-results-button,
.sermonz_search_field_wrap input[type="search"]::-webkit-search-results-decoration { display: none; }

.sermonz_search_field_wrap {
    position: relative;
}

.sermonz_search_filters_wrap label {
    float: left;
    margin-right: 20px;
    line-height: 2em;
}

.sermonz_search_filters_wrap .sermon_search_filters_wrap_a {
    width: 96%;
}

.sermonz_search_filters_wrap .sermonz_show_search {
    width: 4%;
    float: right;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 0.4em;
    cursor: pointer;
    opacity: 0.5;
    font-size: 0.8em;
    margin-top: 0.4em;
}

.sermonz_search_filters_wrap .sermonz_show_search.active {
    opacity: 1;
    display: none;
    margin-top: 0.4em;
    cursor: pointer;
}

.sermonz_filter_inner_head_wrap {
    width: 100%;
    height: 1.5em;
}

.sermonz_filter_inner_head h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.sermonz_filter_inner_head {
    width: 50%;
    float: left;
}

.sermonz_sermon_inner_head {
    width: 100%;
}

.sermonz_filter_inner_head.right {
    width: 50%;
    text-align: right;
}

.error {
    color: red;
}

.entry-content .sermons_series_pages, .sermonz_sermons_list {
    clear: left;
    margin-top: 0.5em;
}

.sermonz_series_row, .sermonz_sermon_row {
    width: 48%;
    float: left;
}

.sermonz_sermon_row,
.sermonz_series_row, 
.sermonz_search_filters_wrap,
.sermonz_row_count,
.sermonz_show_search ,
.sermonz_search_field_wrap {
    padding-left: 1%;
    padding-right: 1%;
}

.sermonz_series_row a, .sermonz_series_row a:hover, .sermonz_sermon_row a, .sermonz_sermon_row a:hover {
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
}

.sermonz_series_row:hover, .sermonz_sermon_row:hover {
    opacity: 0.8;
}

.sermonz_series_row img, .sermonz_sermon_row img {
    width: 100%;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #999;
}
.sermonz_series_row.active
{
    opacity: 0.5;
}

.sermonz_series_row, .sermonz_sermon_row {
    margin: 1em 0 1em;
}

.sermonz_series_row p, .sermonz_sermon_row p {
    margin-bottom: 0;
}

.sermonz_series_row p.sermonz_series_name, .sermonz_sermon_row p.sermonz_metadata {
    font-size: 1em;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.25em 0;
}

.sermonz_series_row p.sermonz_date_range, .sermonz_sermon_row p.sermonz_metadata.secondary {
    font-size: 0.9em;
}
.sermonz_sermon_row p.sermonz_metadata.sermonz_sermon_name
{
    padding-top: 1em;
    font-size: 1.2em;
}
.sermonz_filter_list {
    clear: left;
    margin: 1.5em 0 1em 0;
}

.sermonz_filter_name.disabled {
    opacity: 0.5;
}

.sermonz_filter_row {
    float: left;
    margin-right: 15px;
}

.sermonz_search_filters_wrap .sermonz_filter {
    float: left;
    margin-right: 10px;
    margin-bottom: 1em;
    border: 1px solid darkgray;
    color: darkgray;
    padding: 4px;
}

.sermonz_search_filters_wrap .sermonz_filter a {
    color: darkgray;
}

.sermonz_search_filters_wrap .sermonz_filter:hover, .sermonz_search_filters_wrap .sermonz_filter.active {
    border: 1px solid black;
    color: black;
    padding: 4px;
}

.sermonz_search_filters_wrap .sermonz_filter.active {
    padding-right: 8px;
}

.sermonz_search_filters_wrap .sermonz_filter:hover a, .sermonz_search_filters_wrap .sermonz_filter.active a {
    color: black;
}

.sermonz_filter_href.active {
    color: red;
    opacity: 1;
}

.sermonz_clear_filter .dashicons {
    line-height: 1.2em;
}

.sermonz_more_wrap {
    clear: left;
    text-align: center;
    margin: 40px auto;
    padding-top: 20px;
    width: 100%;
}

.sermonz_more, .sermonz_previous {
    border: 1px solid darkgray;
    color: darkgray;
    font-weight: 400;
    padding: 8px;
    display: block;
    width: 200px;
    margin: 0 auto;
}

.sermonz_previous {
    margin-bottom: 20px;
}

.sermonz_row_count {
    font-size: 1em;
    color: darkgray;
    padding-top: 12px;
    clear: left;
}

.sermonz_sermon_series_thumb {
    float: right;
    width: 44%;
    margin: 0.5em 0 0 0;
}

.sermonz_sermon_page {}

.sermonz_sermon_page .sermonz_metadata {
    margin: 0 0 0.3em;
    font-size: 1em;
}

.sermonz_sermon_page .sermonz_metadata .dashicons {
    opacity: 0.2;
}

.sermonz_metadata span.label {
    opacity: 0.6;
    font-size: 0.9em;
    width: 100%;
    display: block;
}

.sermonz_sermon_page .sermonz_metadata.sermonz_metadata_title {
    font-size: 1.6em;
    margin-bottom: 1.4em;
    line-height: 1em;
}

.sermonz_sermon_page {
    margin-bottom: 40px;
}

.sermonz_sermon_page img {
    width: 100%;
    /* margin-right: 2%;
    float: left; */
}

.sermonz_sermon_action_links {
    margin-top: 40px;
    height: 60px;
}
.sermonz_sermon_action_links.bottom 
{
    display:none;
}

.sermonz_back_link {
    opacity: 0.5;
    float: left;
}

.sermonz_share_link, .sermonz_download_link {
    float: right;
    opacity: 0.5;
    margin-left: 20px;
}

.page .site-content .entry-title span.colon {
    display: none;
}
.sermonz_sermon_series_thumb {
    max-width: 500px;
}

.sermonz_loading
{
    clear: left;
    text-align: center;
    margin: 40px auto;
    padding-top: 20px;
    width: 100%;
}
.sermonz_loading center {
    font-weight: 400;
    padding: 8px;
    display: block;
    width: 200px;
    border: 1px solid darkgray;
    color: darkgray;
    margin: 0 auto;
}
.sermonz_sermon_player figure.wp-block-audio {
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media screen and (max-width: 375px) {
    .sermonz_series_row, .sermonz_sermon_row {
        width: 100%;
        float: left;
    }
    .sermonz_series_row:nth-child(odd), .sermonz_sermon_row:nth-child(odd) {
        margin-right: 0%;
    }
    .sermonz_sermon_series_thumb {
        float: none;
        width: 100%;
        margin-bottom: 20px; 
        max-width: none;
    }
    .sermonz_share_link {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .sermonz_series_row, .sermonz_sermon_row {
        width: 100%;
        float: left;
    }
    .sermonz_series_row:nth-child(odd), .sermonz_sermon_row:nth-child(odd) {
        margin-right: 0%;
    }
    .sermonz_sermon_series_thumb {
        float: none;
        width: 100%;
        margin-bottom: 20px;
        max-width: none;
    }
    .sermonz_share_link {
        display: none;
    }
} 

@media screen and (min-width: 1000px) {
    .sermonz_series_row, .sermonz_sermon_row {
        width: 31%;
        float: left;
    }
}